tensorflow==2.15.0
numpy
pandas
scikit-learn
opencv-python
Pillow
matplotlib
scikit-image
streamlit
streamlit-drawable-canvas
imgaug
mahotas
pywt
joblib
h5py
tqdm
plotly
seaborn
openpyxl
pycocotools
shap
lime
